/* Boolzapp - style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline-style: none;
}

/* components */

/* messages container is flex; */
.message {
  position: relative;
  padding: 20px;
  max-width: 600px;
  border-radius: 15px;
  margin: 10px 0px;
}

.message.template {
  display: none;
}

.message.user_message {
  background: white;
}

.message.contact_message {
  background: #DBF8C9;
  align-self: flex-end;
}

.profile_pic_cnt {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background: white;
}

.profile_pic_cnt img {
  max-width: 100%;
}

.nav_icon {
  cursor: pointer;
  width:40px;
  height:40px;
  margin-right: 20px;
}

/* main containers */

#app_container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.app_left {
  float: left;
  height: 100vh;
  width: 400px;
}

.app_right {
  float: left;
  height: 100vh;
  width: calc(100vw - 400px);
  background: white;
}

/* App Left */

.app_left .general_options {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid grey;
  background: #EEEEEE;
}

.search_bar_cnt {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background: #FBFBFB;
}

.search_bar {
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  border-style: none;
  border-radius: 5px;
  background: white;
}

.search_bar .nav_icon {
  width: 20px;
  height: 20px;
}

.search_bar input {
  height: 60px;
  width: 90%;
  font-size: 15px;
  border-style: none;
}

.contacts_list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 180px);
  width: 400px;
}

.contacts_list .contact {
  position: relative;
  height: 100px;
  width: 400px;
  cursor: pointer;
}
.contacts_list .contact.template {
  display: none;
}

.contacts_list .contact.selected {
background: lightgrey;
}

.contact_photo {
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
}

.contact_chat_data {
  float: left;
  height: 100px;
  width: 300px;
  border-bottom: 1px solid lightgrey;
}

.contact_chat_name_and_message {
  float: left;
  width: 240px;
  padding: 0px 15px;
  margin-top: 15px;
  line-height: 35px;
}

.contact_chat_name_and_message .contact_name {
  font-size: 19px;
  overflow: hidden;
  white-space:  nowrap;
  text-overflow: ellipsis;
}
.contact_chat_name_and_message .last_message {
  font-size: 12px;
  overflow: hidden;
  white-space:  nowrap;
  text-overflow: ellipsis;
}

.contact_chat_icons {
  float: left;
  width: 60px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.contact_chat_icons .last_received_time {
  align-self: center;
  font-size: 12px;
}

.contact_chat_icons .nav_icon {
  height: 20px;
  width: 20px;
}

/* App right */

.app_right .conversation_nav {
  height: 100px;
  background: #EEEEEE;
}

.contact_data {
  padding-left: 20px;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 100px;
  width:300px;
  color: black;
}

.contact_data .contact_name {
  margin-bottom: 5px;
}

.contact_data .last_access {
  font-size: bold;
  color: grey;
}


.chat_actions {
  float: left;
  height: 100px;
  padding-top: 30px;
  text-align: right;
  width: calc(100% - 400px);
}

.messages_area {
  overflow-y: auto;
  height: calc(100vh - 180px);
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  background-image: url('assets/sfondoChat.png');
}

.message_time {
  float: right;
  color: grey;
  font-size: 14px;
}

.message_time .isRead {
  margin-left:5px;
}

/* Typing Area */

.typing_area {
  height: 80px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #EEEEEE;;
}

.typing_area .message_bar {
  flex-grow: 2;
  margin-right: 20px;
}

.typing_area #message_input {
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  border-style: none;
  padding-left: 20px;
  width:100%;
}

.typing_area #send_message {
display: none;
}
